* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 1000px;
    height: 1000px;
    background-color: #b0b1b0;
    margin: auto;
    font-family: arial;
    border: 3px solid #68055f;
}

.titulo2 {
    width: 1000px;
    height: 200px;
    background-color: #0cbd64;
    line-height: 100px;
}

.rotulo {
    color: #782881;
    margin-left: 90px;
}

.texto2 {
    margin-left: 50px;
}

.cuerpo {
    width: 850px;
    margin: auto;
}

.cuerpo p {
    font-size: 15px;
    font-style: italic;
    padding-top: 15px;
}

.cuerpo div {
    display: inline-block;
    width: 180px;
    height: 150px;
    border: 1px solid black;
    margin: 20px 10px;
    border-radius: 10px;
    text-align: center;
}

.abajo {
    width: 1000px;
    height: 300px;
    background-color: #d6d5d3;
    border: 1px solid black;
}

.tabla {
    display: table;
    width: 800px;
    height: 200px;
    border-collapse: collapse;
    margin: 20px auto;
    text-indent: 20px;
}

.fila {
    display: table-row
}

.fila div {
    display: table-cell;
    border-bottom: 1px solid black;
    line-height: 50px;
}

.negrita {
    font-weight: bold;
}

.formulario {
    width: 800px;
    height: 600px;
    background-color: #f9f15b;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
}

form {
    margin-left: 150px;
    margin-top: 100px;
}

label {
    float: left;
    background-color: black;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: white;
    width: 100px;
    text-align: center;
    font-family: arial;
}

input {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#texto {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#usuario {
    margin-right: 50px;
}

#centrar {
    padding-top: 68px;
    padding-bottom: 68px;
}

button {
    border: none;
    width: 85px;
    height: 18px;
    background-color: grey;
    text-align: center;
    color: white;
}

.generos-menu{
	display: table;
	list-style: none;
	margin: 10px;
	padding: 10px;
}
.generos-fila{
	display: table-row;
	margin: 10px;
}
.generos-celda{
	display: table-cell;
	height: 2em;
	/* width: 100px; */
	margin: 10px;
}
.generos-menu a{
	display: block;
	background-color: pink;
	line-height: 2em;
	padding: 10px;
	margin: 10px;
	text-align: center;
	text-decoration: none;
}
.generos-menu a:hover{
	font-weight: bold;
}
form{
	margin-top:30px;
}